@import "../Login/loginStyles.css";
@import "../UnauthedIndex/UnauthedIndex.css";
@import "../Modals/ErrorModal.css";

html,
body,
#root,
.router_wrapper,
.non-modal_wrapper {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.layout{
  display: flex;
}

.body {
  background: steelblue;
  color: white;
}


.layout {
  z-index: -1;
  min-width: 930px;
  min-height: 600px;
  border: solid 5px white;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 450px;
}

.login_form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} 


