.login_layout {
  background: #e6ecf0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
}

.form_box {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 350px;
  max-width: 635px;
  min-width: 100px;
  background: white;
  border: 1px solid #d0d0d0;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form_box--wrapper{
  display: flex;
  width: 100%;
  height: auto;
}

.form_box--buffer {
  width: 14px;
}

.login_form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login_nav {
  background: white;
  /* width: 100%; */
  height: 50px;
  min-width: 600px;
  margin-bottom: 13px;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
}

.small_frog {
  margin: 10px;
}

.small_frog--link {
  margin: 10px;
}

.small_frog--link:hover { 
  border-bottom: 2px solid limegreen;
}

.login_form--input {
  width: 280px;
  line-height: 22px;
  padding: 6px;
  font-size: 16px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  background-color: rgb(232, 240, 254) !important;
  margin: 10px;
  margin-left: 0;
}
.sign_up_here {
  color: #02b502;
  text-decoration: none;
}